<nav class="navbar navbar-expand-lg bg-success navbar-dark">
  <a class="navbar-brand" href="#"> NGRX </a>
  <div class="collapse navbar-collapse justify-content-end">
    <select
      *ngIf="show"
      class="form-control input-group col-1 mr-3"
      [ngModel]="(selectedFEState | async)?.selectedFE"
      (change)="onSelect($event.target.value)"
    >
      <option>001</option>
      <option>002</option>
      <option>003</option>
    </select>
    <span
      *ngIf="(authState | async)?.authenticated"
      style="color:white"
      class="mr-2"
      >Welcome {{ (authState | async).username }}!</span
    >
    <button
      *ngIf="!(authState | async)?.authenticated"
      class="btn btn-outline-light"
      type="submit"
      routerLink="login"
    >
      Login
    </button>
    <button
      *ngIf="(authState | async)?.authenticated"
      class="btn btn-outline-light"
      type="submit"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</nav>
